<div class="profile-edit">
  <h3>Edit your profile</h3>

  <div class="new-offer">
    <%= simple_form_for @profile, url: profile_path(@profile), html: { autocomplete: 'off' } do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :last_name %>
      <%= f.input :username %>
      <%= f.input :birthdate, as: :date, start_year: 1920,
                                  end_year: Date.today.year,
                                  selected: 1,
                                  order: [:day, :month, :year] %>
      <%= f.input :gender, as: :select, collection: Profile::GENDER, prompt: "Select your gender" %>
      <%= f.input :bio, as: :text %>
      <%= f.input :interests, as: :text %>
      <%= f.input :postcode, as: :integer %>
      <%= f.input :city %>
      <div class="mother-buttons">
      <%= f.submit "Confirm", class: "button-green" %>
    <% end %>
    <%= link_to "Cancel", profile_path(@profile), class: "button-red"   %>
    </div>
  </div>
</div>
