
<div class="container profile-father">

    <div class="profile-card">
      <div class="profile-username">
      <% if @profile.username.present? %>
        <h4><%= @profile.username %></h4>
      <% end %>
    </div>

    <div class="profile-picture-round">
      <% if @profile.photo.present? %>
        <%= cl_image_tag @profile.photo.key, class:"profile-pic" %>
      <% else %>
        <%= image_tag "Default_pfp.jpg", alt: "Default Profile Picture", class:"profile-pic" %>
      <% end %>
    </div>

    <div class="profile-names">
      <%= @profile.user.first_name %>
      <% if @profile.last_name.present? %>
        <p><%= @profile.last_name[0] %>.</p>
      <% end %>
    </div>

    <div class="profile-info d-flex flex-direction-row">
      <% if @profile.birthdate.present? %>
        <div class="profile-age profile-text flex-grow-1 align-items-center">
          <% age = Time.now.year - @profile.birthdate.year - ((Time.now.month > @profile.birthdate.month || (Time.now.month == @profile.birthdate.month && Time.now.day >= @profile.birthdate.day)) ? 0 : 1) %>
          <p class="text-bold">Age: </p>
          <p class="text-normal"> <%= age %></p>
        </div>
      <% end %>
      <% if @profile.city.present? %>
        <div class="profile-city profile-text">
          <p class="text-normal"><i class="fa-solid fa-location-dot"></i> <%= @profile.city %></p>
        </div>
        <% end %>
    </div>


    <% if @profile.bio.present? %>
      <div class="profile-text text-long">
        <p class="text-bold">Bio</p>
        <%= @profile.bio %>
    <% end %>
    <% if @profile.interests.present? %>
        <p class="text-bold">Interests</p>
        <%= @profile.interests %>
      </div>
    <% end %>

  <% if @events.count == 1 %>
    <p>1 event created</p>
  <% else %>
    <p><%= @events.count %> events created</p>
  <% end %>
  <%# <div class="profile-events">
    <% @events.each do |event| %>
      <%# <%= cl_image_tag event.photo.key, class: "card-image", height: 70, width: 70,  crop: :fill  %>
      <%# <p> %>
        <%# <%= event.name %>
      <%# </p> %>
    <%# <% end %>
  <%# </div> %>

    <% if @profile.user == @user %>
        <%= link_to "Edit your profile", edit_profile_path(@profile), class:"btn chatedit" %>
    <% end  %>

    </div>



  <div class="chat">
      <% unless @profile == current_user.profile %>
      <% if @chatroom %>
        <div class="chat-message">
          <%= link_to "Message", chatroom_path(@chatroom), class:"btn chat-button" %>
        </div>
      <% else %>
        <div class="chat-message">
          <%= simple_form_for Chatroom.new do |f| %>
            <%= f.input :receiver_id, input_html: { class:"d-none", value: @profile.user.id } %>
            <%= f.input :sender_id, input_html: { class:"d-none", value: current_user.id } %>
              <%= f.submit "Start chat", class: "button-green" %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>


</div>
