<div class="bookings-index">
  <h1 class="greeting-bold m-3">Hey <%= @user.first_name %>!</h1>
  <p class="m-3">Looking for your events?</p>

  <div class="dashboard-container" data-controller="bookings">
    <div class="clickable-headers" >
      <h4 class="active" data-bookings-target="eventList" data-action="click->bookings#hideColumnParticipation">Created Events</h4>
      <h4 data-bookings-target="participationList" data-action="click->bookings#hideColumnCreation">Participating</h4>
    </div>
    <div class="column">
      <div id="created-events" >
        <div data-bookings-target="eventsBox" class="eventbox">
          <% if current_user.events.any? %>
            <% @my_created_events.each do |event| %>
              <div class="event-card">
                <div class="list-event d-flex flex-direction-row">
                  <div class="dash-pic">
                    <% if event.photo.attached? %>
                      <%= cl_image_tag event.photo.key, class: "card-image", height: 110, width: 110,  crop: :fill %>
                    <% else %>
                      <%= image_tag "event.jpg", alt: "event-default", width: 200 %>
                    <% end %>
                  </div>
                  <div class="event-text flex-direction-column">
                    <h3 class="title-event"><%= link_to event.name, event_path(event), class: "dashboard-custom-link" %></h3>
                    <div>
                      <% if event.date.present? %>
                        <i class="fa-regular fa-calendar-days"> </i> <%= event.date.strftime("%A, %B %d, %Y") %>
                      <% end %>
                    </div>
                    <div>
                      <i class="fa-regular fa-clock"></i> <%= event.time.strftime("%I:%M %p") %>
                    </div>
                    <div>
                      <% if event.address.present? %>
                        <i class="fa-solid fa-location-dot"></i> <%= event.address %>
                      <% end %>
                    </div>
                  </div>
                  <%# <div class="ellipsis border border-danger">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div> %>
                </div>
              </div>
            <% end %>
            <button class="button-green">
              <%= link_to "Have another idea?", new_event_path, class: "dashboard-custom-link" %>
            </button>
          <% else %>
            <p>Nothing to organize</p>
            <button class="button-green">
              <%= link_to "Create Event", new_event_path, class: "dashboard-custom-link" %>
            </button>

            <%# !!!!!SHOW PAST EVENTS?!!!!!! %>

          <% end %>
        </div>
      </div>

      <div id="booked-events" >
        <div data-bookings-target="participationBox" class="eventbox">
          <% if @my_participations.any? %>
            <% @my_participations.each do |event| %>
              <div class="event-card">
                <div class="list-event d-flex flex-direction-row">
                  <div class="dash-pic">
                    <% if event.photo.attached? %>
                      <%= cl_image_tag event.photo.key, class: "card-image", height: 110, width: 110, crop: :fill %>
                    <% else %>
                      <%= image_tag "event.jpg", alt: "event-default", width: 200 %>
                    <% end %>
                  </div>
                  <div class="event-text flex-direction-column">
                    <h3 class="title-event"><%= link_to event.name, event_path(event), class: "dashboard-custom-link" %></h3>
                    <div>
                      <i class="fa-regular fa-calendar-days"></i> <%= event.date.strftime("%A, %B %d, %Y") %>
                    </div>
                    <div>
                      <i class="fa-regular fa-clock"></i> <%= event.time.strftime("%I:%M %p")  %>
                    </div>
                    <div>
                      <% if event.address.present? %>
                        <i class="fa-solid fa-location-dot"></i> <%= event.address %>
                      <% end %>
                    </div>
                  </div>
                  <%# <div class="price-box">
                    <% if event.price == 0 %>
                      <%# <p class="price-green">Free</p> %>
                    <%# <% else %>
                      <%# <p class="price-purple"> %>
                        <%# <%= number_to_currency(event.price, unit: "€") %>
                      <%# </p> %>
                    <%# <% end %>
                  <%# </div> %>
                  <%# <div class="ellipsis border border-danger"> %>
                    <%# <i class="fa-solid fa-ellipsis-vertical"></i> %>
                  <%# </div> %>
                </div>
              </div>
            <% end %>
            <button class="button-green">
              <%= link_to "Craving more?", search_events_path, class: "dashboard-custom-link" %>
            </button>
          <% else %>
            <p>You have no upcoming events</p>
            <button class="button-green">
              <%= link_to "Search events", search_events_path, class: "dashboard-custom-link" %>
            </button>
            <%# !!! SHOW PAST EVENTS? !!!!! %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
