<div data-controller="filters">
  <div style="width: 100%; height: 400px;"
    class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="event-content">
    <p class="text-purple">Filter Events</p>
    <div class="dropdown-row d-flex flex-direction-row">
      <div class="dropdown-filters">
        <%= form_with(url: events_path, method: :get, class: "form-row",
                      data: {
                        # turbo_frame: "filter_results",
                        # turbo_action: "advance",
                      }) do |form| %>
            <%= form.select :category, Event::CATEGORY, { prompt: "Category" }, { data: { action: "change->filters#updateEvents" } } %>

            <%= form.select :age_group, Event.age_groups.collect{|key, value| [key.to_s.titleize, value]}, {prompt: "Age Group" }, { data: { action: "change->filters#updateEvents" } } %>

            <%= form.select :price, @price_ranges, { prompt: "Price" }, { data: { action: "change->filters#updateEvents" } } %>
        <% end %>
      </div>
    </div>
    <div class="button-father">
      <button class="button-reset" type="reset", data-action="click->filters#updateEvents">
        Reset
      </button>
    </div>

    <div >
      <% if @events.present? %>
        <p class="text"><%= @events.count %> events found</p>
        <% @events.each do |event| %>
          <div class="event-cards">
            <div class="event-pic d-flex align-items-center">
              <% if event.photo.attached? %>
                <%= cl_image_tag event.photo.key, class: "card-image", height: 110, width: 110,  crop: :fill %>
              <% else %>
                <%= image_tag "event.jpg", alt: "event-default", width: 200 %>
              <% end %>
            </div>
            <div class="text-container" >
              <h2><%= link_to event.name, event_path(event), class: "link-underline-opacity-0" %></h2>
              <div>
                <i class="fa-solid fa-location-dot"></i>
                <%= event.address %>
              </div>
              <div class="">
                <% if event.date.present? %>
                  <i class="fa-regular fa-calendar-days"></i>
                  <%= event.date.strftime("%A, %B %d, %Y") %>
                <% end %>
              </div>
              <div>
                <% if event.time.present? %>
                  <i class="fa-regular fa-clock"></i>
                  <%= event.time.strftime("%I:%M %p") %>
                <% end %>
              </div>
              <div class="d-flex flex-direction-row">
                <div class="category-box d-flex flex-grow-1 align-items-center">
                  <i class="fa-solid fa-list"></i> <%= event.category %>
                </div>
                <div class="age-box d-flex flex-grow-1 align-items-center">
                  <i class="fa-solid fa-people-group"></i> <%= age_group_to_string(event) %>
                </div>
              </div>
            </div>

            <div class="price-box">
              <% if event.price == 0 %>
                <p class="price-green">Free</p>
              <% else %>
                <p class="price-purple">
                  <%= number_to_currency(event.price, unit: "€") %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>There is no event in this city</p>
      <% end  %>
    </div>
  </div>

</div>
