
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h1>Events</h1>

<div class="row">
  <div class="headers-fixed">
    <h3 class="text-info">Filter By:</h3>
  </div>
  <div class="dropdown-filters d-flex flex-row justify-content-around" data-controller="filters">
    <div>
      <%= select_tag :category, options_for_select(Event::CATEGORY), prompt: "Category", class: "border-0 bg-transparent" %>
    </div>
    <div>
      <%= select_tag :age_group, options_for_select(Event.age_groups.collect{|key, value| [key.to_s.titleize, value]}), prompt: "Age Group", class: "border-0 bg-transparent" %>
    </div>
    <div>
      <% price_options = { 0.00 => "Free", (1.0..10.0) => proc { |price| "%.2f€" % price }, (11.0..20.0) => proc { |price| "%.2f" % price }, (21.0..30.0) => proc { |price| "%.2f" % price }, (31.0..40.0) => proc { |price| "%.2f" % price }, (41.0..50.0) => proc { |price| "%.2f" % price } } %>
      <%= select_tag :price, options_for_select(price_options), prompt: "Price", class: "border-0 bg-transparent" %>
    </div>
  </div>
</div>

<% if @events.present? %>
  <% @events.each do |event| %>
    <h2><%= link_to event.name, event_path(event) %></h2>
    <p>Description: <%= event.description %></p>
    <p>Address: <%= event.address %></p>
    <% if event.date.present? %>
      <p>Date: <%= event.date.strftime("%A, %B %d, %Y") %></p>
    <% end %>
    <% if event.time.present? %>
      <p>Time: <%= event.time.strftime("%I:%M %p") %></p>
    <% end %>
    <p>Category: <%= event.category %></p>
    <p>Age Group: <%= age_group_to_string(event) %></p>
    <% if event.price == 0 %>
      <p>Free</p>
    <% else %>
      <p>Price: <%= number_to_currency(event.price, unit: "€") %></p>
    <% end %>
  <% end %>
<% else %>
  <p>There is no event in this city</p>
<% end  %>
