
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h1>Events</h1>

<% if @events.present? %>
  <% @events.each do |event| %>
      <h2><%= link_to event.name, event_path(event) %></h2>
      <p>Description: <%= event.description %></p>
      <p>Address: <%= event.address %></p>
      <p>Date: <%= event.date %></p>
      <p>Time: <%= event.time %></p>
      <p>Category: <%= event.category %></p>
      <p>Age Group: <%= age_group_to_string(event) %></p>
      <p>Price: <%= event.price %></p>
  <% end %>
<% else %>
<p>There is no event in this city</p>
<% end  %>
