
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h1>Events</h1>

<% if @events.present? %>
  <% @events.each do |event| %>
      <h2><%= link_to event.name, event_path(event) %></h2>
      <p>Description: <%= event.description %></p>
      <p>Address: <%= event.address %></p>
      <% if event.date.present? %>
        <p>Date: <%= event.date.strftime("%A, %B %d, %Y") %></p>
      <% end %>
      <% if event.time.present? %>
        <p>Time: <%= event.time.strftime("%I:%M %p") %></p>
      <% end %>
      <p>Category: <%= event.category %></p>
      <p>Age Group: <%= age_group_to_string(event) %></p>
      <% if event.price == 0 %>
        <p>Price: Free</p>
      <% else %>
        <%= number_to_currency(event.price, unit: "€") %>
      <% end %>
      <%# <p>Price: <%= event.price %>
  <% end %>
<% else %>
<p>There is no event in this city</p>
<% end  %>
