<div class="form-new p-5">
  <h1>Your new Event!</h1>

  <div class="new-offer">
    <%= simple_form_for @event, html: { multipart: true } do |f| %>
      <%= f.input :name, { class: "label-dark" }%>
      <%= f.input :address %>
      <%= f.input :date %>
      <%= f.input :time %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.submit "Create!", class: "btn btn-primary" %>
      <% end %>
  </div>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
