<div class="form-new p-5">
  <h1>Your new Event!</h1>

  <div class="new-offer">
    <%= simple_form_for @event, html: { multipart: true, autocomplete: 'off'  } do |f| %>
      <div>
        <%= f.input :name, { class: "label-dark",  placeholder: "Name of event" } %>
      </div>
      <div>
        <%= f.input :description, placeholder: "Your description here (max. 250 characters)...", class: "textarea-box" %>
      </div>
      <div>
        <%= f.input :address, presence: true, placeholder: "Address (street, number, postcode, city)", format: { with: /\A([^<>{}\\]|\s)+\z/, message: "Address can't be blank or contain special characters <>, {, }, or \" " } %>
      </div>
      <div>
        <%= f.input :photo, as: :file %>
      </div>
      <div>
        <%= f.input :age_group, collection: Event.age_groups.collect{|key, value| [key.to_s.titleize, value]}, as: :select %>
      </div>
      <div>
        <%= f.input :date, as: :string, input_html: {data: {controller: "datepicker"}} %>
      </div>
      <div>
        <%= f.input :time %>
      </div>
      <div>
        <%= f.input :category, collection: Event::CATEGORY, as: :select, prompt: "Select a category" %>
      </div>
      <div>
        <%= f.input :price, placeholder: "00.00" %>
      </div>
      <div class="mother-buttons">
        <%= f.submit "Confirm", class: "button-green" %>
      <% end %>
      <%= link_to "Cancel", landhome_path, class: "button-red" %>
      </div>
  </div>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
