<div class="event-show">
     <% if @event.photo && @event.photo.key %>
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= cl_image_path @event.photo.key, class:"show-img" %>')">
  </div>
  <% else %>
    <%= image_tag "event.jpg", alt: "train", width: 200 %>
  <% end %>

  <h1><%= @event.name %></h1>

  <p>Address: <%= @event.address %></p>
  <p>Date: <%= @event.date.strftime("%A, %B %d, %Y") %></p>
  <p>Time: <%= @event.time.strftime("%I:%M %p") %></p>

  <%# WORKING HERE %>
  <% if @organizer.present? %>
    <% if current_user == @organizer  %>
      <% if @profile && @profile.photo.present? %>
        <%= cl_image_path(@event.organizer.profile.photo.key, class:"d-block", style: "width: 50px; height: 50px;") %>
      <% else %>
        <%= image_tag "default_avatar.png", class:"d-block", alt: "Default Profile Picture", class: "navbar-image" %>
      <% end %>
      <p>You</p>
      <%# = cl_image_path current_user.profile.photo.key, class: "organizer_picture" %>
    <% else %>
      <% if @profile && @profile.photo.present? %>
        <%= cl_image_path(@event.organizer.profile.photo.key, class:"d-block", style: "width: 50px; height: 50px;") %>
      <% else %>
        <%= image_tag "default_avatar.png", class:"d-block", alt: "Default Profile Picture", class: "navbar-image" %>
      <% end %>
      <%# = cl_image_path @organizer.profile.photo.key, class: 'organizer-picture' %>
      <p><%= @organizer.first_name %></p>
    <% end %>
  <% end %>
  <%# WORKING HERE %>

  <% if @event.price == 0 %>
    <p>Free</p>
  <% else %>
    <%= number_to_currency(@event.price, unit: "€") %>
  <% end %>
  <p>Description: <%= @event.description %></p>
 <% if @event.organizer == current_user %>
       <%= link_to "Delete",
      event_path(@event),
      data: {turbo_method: :delete, turbo_confirm: "Oh no! Are you sure?"}, class: "show-delete"%>
    <% end %>
  <% if @booking.nil? %>
    <% disabled = "" %>
    <% else %>
    <% disabled = "disabled" %>
  <% end %>

<% if @event.organizer == current_user %>
      <%= link_to "Edit",
      edit_event_path(@event), class: "show-edit"%>
<% end %>

<!-- CAROUSEL -->
<h2>Who else already joined? </h2>
<% if @participants.present? %>
  <div id="participantsCarousel" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner">
      <% @participants.reverse.in_groups_of(12, false).each_with_index do |group, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="d-flex justify-content-around">
            <% group.each do |user|  %>
              <div class="avatar">
                <%#  @event.users.each do |user| %>
                <% if @profile && @profile.photo.present? %>
                  <%= cl_image_path @profile.photo.key, class:"d-block", style: "width: 50px; height: 50px;" %>
                <% else %>
                  <%= image_tag "Default_pfp.jpg", class:"d-block", alt: "Default Profile Picture", style: "width: 50px; height: 50px;" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Left and right controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#participantsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#participantsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>
<!-- CAROUSEL -->

<%# raise %>

<div>
  <%= button_to "Book Now!", participation_event_path(@event), data: {turbo_method: 'post', bs_toggle: "modal", bs_target: "#exampleModal" }, class:"btn-participate", disabled: @event.users.include?(current_user) %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-0" id="exampleModalLabel">Awesome!</h1>
        </div>
        <div class="modal-body">
          <p>You are successfully registered, see you there!</p>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= link_to "Ok, Thanks", event_path(@event), class:"btn" %></button>
          <%= link_to "Go to dashboard", bookings_path, class:"a-link" %>
        </div>

      </div>
    </div>
  </div>

<%= link_to "Back to search", search_events_path(@event)%>
  <div class="comments">
    <h1>Comment</h1>
      <%= simple_form_for [@event, @comment] do |f| %>
      <%= f.input :content %>
      <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="comments-view">
  <ul>
    <% @comments.each do |c| %>
    <li><%= c.content %></li>
    <% end %>
  </ul>

</div>
</div>
