<div class="event-show">
     <% if @event.photo && @event.photo.key %>
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= cl_image_path @event.photo.key, class:"show-img" %>')">
  </div>
  <% else %>
    <%= image_tag "event.jpg", alt: "train", width: 200 %>
  <% end %>

  <h1><%= @event.name %></h1>

  <p>Address: <%= @event.address %></p>
  <p>Date: <%= @event.date.strftime("%A, %B %d, %Y") %></p>
  <p>Time: <%= @event.time.strftime("%I:%M %p") %></p>
  <p>Category: <%= @event.category %></p>
  <p>Age Group: <%= age_group_to_string(@event) %></p>
  <% if @event.price == 0 %>
    <p>Free</p>
  <% else %>
    <%= number_to_currency(@event.price, unit: "€") %>
  <% end %>
  <p>Description: <%= @event.description %></p>
 <% if @event.user == current_user %>
       <%= link_to "Delete",
      event_path(@event),
      data: {turbo_method: :delete, turbo_confirm: "Oh no! Are you sure?"}, class: "show-delete"%>
    <% end %>
  <% if @booking.nil? %>
    <% disabled = "" %>
    <% else %>
    <% disabled = "disabled" %>
  <% end %>

<% if @event.user == current_user %>
      <%= link_to "Edit",
      edit_event_path(@event), class: "show-edit"%>
<% end %>

<div>
  <%= button_to "Book Now!", participation_event_path(@event), data: {turbo_method: 'post', bs_toggle: "modal", bs_target: "#exampleModal" }, class:"btn-participate", disabled: @event.user == current_user %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-0" id="exampleModalLabel">Awesome!</h1>
        </div>
        <div class="modal-body">
          <p>You are successfully registered, see you there!</p>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= link_to "Ok, Thanks", event_path(@event), class:"btn" %></button>
          <%= link_to "Go to dashboard", bookings_path, class:"a-link" %>
        </div>

      </div>
    </div>
  </div>

<%= link_to "Back to search", search_events_path(@event)%>
  <div class="comments">
    <h1>Comment</h1>
      <%= simple_form_for [@event, @comment] do |f| %>
      <%= f.input :content %>
      <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="comments-view">
  <ul>
    <% @comments.each do |c| %>
    <li><%= c.content %></li>
    <% end %>
  </ul>

</div>
</div>
