<h1><%= @event.name %></h1>

<p>Description: <%= @event.description %></p>
<p>Address: <%= @event.address %></p>
<p>Date: <%= @event.date %></p>
<p>Time: <%= @event.time %></p>
<p>Category: <%= @event.category %></p>
<p>Age Group: <%= @event.age_group %></p>
<p>Price: <%= @event.price %></p>
<p>Created by User ID: <%= @event.user_id %></p>

 <% if @event.user == current_user %>
      <%= link_to "Delete",
      event_path(@event),
      data: {turbo_method: :delete, turbo_confirm: "This offer is horrible. Are you sure that you want to delete?"}, class: "show-delete"%>
    <% end %>
